body {
  font-family: "Roboto";
  visibility: hidden;
}
a {
  font-family: "Roboto";
}
#mapbox-map,
#infoContainer {
  margin: 25px;
  border: 2px solid black;
  color: #222;
  left: 10px;
  background-color: #fff;
  border-radius: 3px;
  padding: 5px;
  position: relative;
  margin-bottom: 90px;

}

#infoContainer {
  position: absolute;
  width: 40%;
}


#mapbox-map {
  right: 10px;
  position: absolute;
  height: 700px;
  width: 95%;
  margin-bottom: 90px;
  z-index: -10;
}
#clickedPanel {
  font-family: "Roboto";
}
#locInfo {
  overflow-y: auto;
  text-align: center;
}
#timeSliderSpan {
  display: inline-block;
}
#settingsPanel {
  margin: 40px;
  border: 2px solid black;
  background: #fff;
  position: absolute;
  z-index: 1;
  top: 300px;
  right: 10px;
  border-radius: 3px;
  width: 120px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  font-family: "Roboto", sans-serif;
}
#hoverPanel {
  font-family: "Roboto";
  background-color: #fff;
  margin: 25px;
  border: 2px solid black;
  color: #222;
  background-color: #fff;
  border-radius: 3px;
  padding: 5px;
  position: absolute;
  width: auto;
  visibility: hidden;
}

#toggleMenu {
  margin: 40px;
  border: 2px solid black;
  background: #fff;
  position: absolute;
  z-index: 1;
  top: 5px;
  right: 10px;
  border-radius: 3px;
  width: 120px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  font-family: "Roboto", sans-serif;
}

#toggleMenu a {
  font-family: "Roboto";
  font-size: 13px;
  color: #404040;
  display: block;
  margin: 0;
  padding: 0;
  padding: 10px;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  text-align: center;
}

#toggleMenu a:last-child {
  border: none;
}

#toggleMenu a:hover {
  background-color: #f8f8f8;
  color: #404040;
}

#toggleMenu a.active {
  background-color: #3887be;
  color: #ffffff;
}
#toggleMenu a.active:hover {
  background: #3074a4;
}

#personnelInfo {
  /* margin: 40px;
  border: 2px solid black;
  background: #fff;
  position: absolute;
  z-index: 1;
  top: 5px;
  right: 10px; */

  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  font-family: "Roboto", sans-serif;
}

#personnelInfo a {
  font-family: "Roboto";
  font-size: 13px;
  color: #404040;
  display: block;
  margin: 0;
  padding: 0;
  padding: 10px;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  text-align: center;
}

#personnelInfo a:last-child {
  border: none;
}

#personnelInfo a:hover {
  background-color: #f8f8f8;
  color: #404040;
}

#personnelInfo a.active {
  background-color: #3887be;
  color: #ffffff;
}
#personnelInfo a.active:hover {
  background: #3074a4;
}
.slider-container {
  display: flex;
  align-items: center;
}
#personnelInfo {
  overflow-y: hidden;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 300px;
  height: 5px;
  margin: 0 10px;
  background-color: #ddd;
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #007bff;
  cursor: pointer;
}

#loadingLogo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 12px solid #444444;
  border-radius: 50%;
  width: 40%;
  visibility: visible;
}

.slider-container {
  font-family: "Roboto";
}

#slider-value {
  text-align: center;
}
.popup {
  display: block;
}

